# SQLite in JupyterLab

In [2]:
%%capture
# Install SQL module
!pip install ipython-sql

In [3]:
# Load the SQL extension
%load_ext sql

In [4]:
%sql sqlite:////home/repl/workspace/hr.sqlite
%config SqlMagic.displaycon = False


![erd](img/database-model.gif)

In [8]:
%%sql 
SELECT *
  FROM departments
 GROUP BY manager_id
 LIMIT 5

Done.

[(90, 'Executive', 100, 1700),
 (60, 'IT', 103, 1400),
 (100, 'Finance', 108, 1700),
 (30, 'Purchasing', 114, 1700),
 (50, 'Shipping', 121, 1500)]